h1 {
  margin-top: -15px;
  margin-bottom: 0;
}
h2 {
  font-size: 16px;
}
h3 {
  text-align: center;
}
li {
  list-style: none;
}
.weather-app {
  max-width: 800px;
  margin: 30px auto;
}
.search {
  margin: 30px auto;
}
.search-input {
  width: 50%;
}
.center {
  text-align: center;
}

.changing-temp {
  font-size: 64px;
  font-weight: 600;
}

.temperature-units {
  position: relative;
  top: -34px;
}
.details {
  padding-top: 15px;
}
.forecast-days {
  text-align: center;
  font-size: 18px;
}
.forecast-temperature-min {
  opacity: 0.6;
}
