.Weather .center {
  text-align: center;
}

.Weather .changing-temp {
  font-size: 64px;
  font-weight: 600;
}

.Weather .temperature-units {
  position: relative;
  top: -34px;
}

.Weather li {
  list-style: none;
  text-align: left;
}

.Weather .details {
  padding-top: 15px;
}
